
@{
    ViewBag.Title = "ManageAdmin";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- manage Admin Profile -->


<section id="manage-admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading"> Manage Administrator</p>

            </div>
            <div class="col-md-6 col-sm-6">
                <a class="btn btn-general btn-work" href="/admin/addAdmin" title="Add Admin" role="button">Add Administrator</a>

            </div>


            <div class="col-md-6 col-sm-6 search-div">
                <div class="col-md-8 col-sm-8 col-xs-8">

                    <input class="form-control search-input" placeholder="Search..." type="text">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                    <a class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                </div>
            </div>
            <div class="col-md-12">
                <div class="all-admin-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SR NO.</th>
                                <th scope="col">FIRST NAME</th>
                                <th scope="col">LAST NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">PHONE NO.</th>
                                <th scope="col">DATE ADDED</th>
                                <th scope="col">ACTIVE</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>2</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>3</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>4</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="../img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>5</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>6</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>7</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>8</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>9</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>10</td>
                                <td>Khayati</td>
                                <td>Patel</td>
                                <td>testing123@gmail.com</td>
                                <td>1234567890</td>
                                <td>09-09-19, 10:10</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <!-- </thead> -->
                        </tbody>
                    </table>


                </div>
                <div class="text-center" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</section>

<!-- manage Admin Profile Ends -->
