
@{
    ViewBag.Title = "systemConfig";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<!-- system config -->
<section id="system-config">
    <form action="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="page-heading">Manage System Configuration</p>

                </div>
                <div class="col-md-6 inside-col">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Support emails address*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your support email">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Support phone number*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter phone number">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Email address(es) (for various events system will send notification to these users)*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter email address">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Facebook URL*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter facebook url">
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Twitter URL*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter twitter url">
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Linkedin URL*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter linkedin url">
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">


                            <p>Default image for notes (if seller do not upload)</p>
                            <input type="file" style="display: none" id="upload-profile-default">
                            <label for="upload-profile-default" class="form-control upload-label text-center" style="cursor:pointer;padding-top: 20px;height: 110px;color: #d1d1d1;">
                                <img src="../img/Dashboard/upload-file.png" alt="Upload" />
                                <p>Upload picture</p>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">


                            <p>Default profile picture (if seller do not upload)</p>
                            <input type="file" style="display: none" id="upload-book-photo-default">
                            <label for="upload-book-photo-default" class="form-control upload-label text-center" style="cursor:pointer;padding-top: 20px;height: 110px;color: #d1d1d1;">
                                <img src="../img/Dashboard/upload-file.png" alt="Upload" />
                                <p>Upload picture</p>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-general btn-work  smooth-scroll" href="#about" title="Sell Book" role="button">SUBMIt</a>
                    </div>



                </div>

            </div>
        </div>
    </form>


</section>

<!-- system config ends -->