
@{
    ViewBag.Title = "Index";
}

    <!-- Header -->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">
                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>
                        <!-- Logo -->
                        <a class="navbar-brand" href="home.html">
                            <img src="../../img/home/top-logo.png" alt="logo">
                        </a>
                    </div>
                    <!-- Main Menu -->
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <li><a href="search-notes.html">Search Notes</a></li>
                                <li><a href="dashboard.html" style="color: #6255a5" ;>Sell Your Notes</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li>
                                    <div id="user-photo" class="btn-group">
                                        <img class="img-responsive img-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../../img/dashboard/user-img.png" alt="user">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item nav-dropdown-item" type="">My Profile</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" type="">My Downloads</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" type="">My Sold Notes</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" type="">My Rejected Notes</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" type="">Change Password</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" type=""> LOGOUT</button>
                                        </div>
                                    </div>


                                </li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>@User.Identity.Name</li>

                                }
                                <!--
        <a class="smooth-scroll" href="#contact-us">Contact Us</a></li>
        <li><a id="user-photo" >
            <img class="img-responsive img-circle" src="../../img/dashboard/user-img.png" alt="user">
        </a></li>

        -->
                                <li><a href="login.html"><button type="button" class="btn btn-work btn-login smooth-scroll">logout</button></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a href="search-notes.html">Search Notes</a></li>
                                <li><a href="dashboard.html" style="color: #6255a5" ;>Sell Your Notes</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="login.html"><button type="button" class="btn btn-work btn-login smooth-scroll">Logout</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->
    <!-- Home -->
    <!-- Dashboard Section -->
    <section id="dashboard">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p id="p-dashboard">Dashboard</p>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <a class="btn btn-general  btn-work smooth-scroll" href="#" title="add note" role="button">Add Note</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 dashboard-detalis">
                    <div class="col-md-4 col-sm-4 col-xs-12 earning" style="height:122px">
                        <div class="div-content text-center">
                            <img src="../img/dashboard/earning-icon.svg" class="img-responsive" alt="earning">
                            <p>My Earning</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 earning" >
                        <div class="col-md-6 col-sm-6 earning-1" style="height:120px">
                            <div class="div-content text-center">



                                <p>100</p>
                                <p>Number of Notes Sold</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center earning-1" style="height:120px">
                            <div class="div-content">



                                <p>$1000</p>
                                <p>Money Earned</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="earning">
                            <div class="div-content">
                                <p>38</p>
                                <p>My Downloads</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="earning">
                            <div class="div-content">
                                <p>12</p>
                                <p>My Rejected Notes</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="earning">
                            <div class="div-content">
                                <p>102</p>
                                <p>Buyer Requests</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="inprogress">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <p>In Progress Notes</p>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="dashboard-search">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                                <a style="color:#fff" class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="inprogress-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ADDED DATE</th>
                                        <th scope="col">TITLE</th>
                                        <th scope="col">CATAGORY</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">09-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>In Review</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../../img/dashboard/eye.png"></a>
                                            <a class="link-margin" href="#">
                                            </a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Draft</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">11-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Submitted</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">12-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Draft</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">13-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>In Review</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">14-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Draft</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">15-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Draft</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <!-- </thead> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="published">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <p>Published Notes</p>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="dashboard-search">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                                <a style="color:#fff" class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="published-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ADDED DATE</th>
                                        <th scope="col">TITLE</th>
                                        <th scope="col">CATAGORY</th>
                                        <th scope="col">SELL TYPE</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">09-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <a class="link-margin" href="#">
                                            </a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$100</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">11-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">12-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$50</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">13-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">14-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">15-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$20</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>


                                        </td>
                                    </tr>
                                    <!-- </thead> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="mydownload">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <p>My download Notes</p>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="dashboard-search">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                                <a style="color:#fff" class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mydownload-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ADDED DATE</th>
                                        <th scope="col">TITLE</th>
                                        <th scope="col">CATAGORY</th>
                                        <th scope="col">SELL TYPE</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">09-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$100</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">11-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">12-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$50</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">13-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">14-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">15-10-20</td>
                                        <td class="text-color">Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$20</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="" onclick="openReview();">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item action-dropdown-item" type="">Report as Inappropriate</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <!-- </thead> -->
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="text-center" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>

            </div>

            <div class="sold-notes">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <p>My Sold Notes</p>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="dashboard-search">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                                <a style="color:#fff" class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="sold-notes-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">NOTE TITLE</th>
                                        <th scope="col">CATAGORY</th>

                                        <th scope="col">BUYER</th>
                                        <th scope="col">SELL TYPE</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">DOWNLOAD DATE/TIME</th>
                                        <th scope="col">ACTION</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$259</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>

                                        <td>Accounts</td>
                                        <td>commerce</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Free</td>

                                        <td>$0</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>

                                        <td>Social Studies</td>
                                        <td>Social</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Free</td>

                                        <td>$0</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$259</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$259</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>

                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <!-- </thead> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="rejected-notes">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <p>My Rejected Notes</p>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="dashboard-search">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                                <a style="color:#fff" class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="rejected-notes-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">NOTE TITLE</th>
                                        <th scope="col">CATAGORY</th>

                                        <th scope="col">REMARKS</th>
                                        <th scope="col">CLONE</th>

                                        <th scope="col">ACTION</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>

                                        <td>Accounts</td>
                                        <td>Commerce</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>

                                        <td>Social Studies</td>
                                        <td>Social</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Lorem sorem porem it now.</td>

                                        <td>Clone</td>


                                        <td class="dropdown">

                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Download Note</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <!-- </thead> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="buyer-request">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <p>Buyer Requests</p>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="dashboard-search">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                                <a style="color:#fff" class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="buyer-request-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">NOTE TITLE</th>
                                        <th scope="col">CATAGORY</th>

                                        <th scope="col">BUYER</th>
                                        <th scope="col">PHONE NO.</th>

                                        <th scope="col">SELL TYPE</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">DOWNLOAD DATE/TIME</th>
                                        <th scope="col">ACTION</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$259</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type=""> Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>

                                        <td>Accounts</td>
                                        <td>commerce</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Free</td>

                                        <td>$0</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>

                                        <td>Social Studies</td>
                                        <td>Social</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Free</td>

                                        <td>$0</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$259</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>

                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$259</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>

                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>testing123@gmail.com</td>
                                        <td>+91 9922556688</td>
                                        <td>Paid</td>

                                        <td>$25</td>

                                        <td>27 Nov 2020, 11:24:34</td>
                                        <td class="dropdown">
                                            <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                            <div id="dots" class="btn-group">
                                                <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="../img/dashboard/dots.png">
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                    <button class=" text-left dropdown-item action-dropdown-item" type="">Allow Download</button>


                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    <!-- </thead> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div id="download-review" class="review-overlay">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p id="review-heading"> Add Review</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeReview()">&times;</a>
                </div>
                <div class="col-md-12 text-left">
                    <p id="add-book-review-star" class="book-review-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i></p>
                </div>
                <div class="col-md-12 text-left">
                    <div class="form-group">
                        <p>Comments*</p>
                        <textarea id="review-comments" class="form-control">
                        </textarea>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section Ends -->
  

   
    <!-- Footer Ends -->
    <!-- JQuery -->
