@model NoteMarketPlace.Context.tblUser

@{
    ViewBag.Title = "Profile";
}


<section id="user-profile">
    <div class="profile-heading">
        <img src="../img/home/banner-with-overlay-home.jpg" class="add-img img-responsive" alt="">
        <div class="centered">User Profile</div>
    </div>
    <form action="">
        <div class="basic-profile">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="add-sub-heading">Basic Profile Details</p>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>First Name*</p>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your full name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Last Name*</p>
                            <input type="text" class="form-control" id="lname" placeholder="Enter your last name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Email*</p>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Date of Birth</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your date of birth">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>gender</p>
                            <select class="form-control">
                                <option>Select your gender</option>
                                <option>Male</option>
                                <option>Female</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Phone Number</p>
                            <div class="col-md-2 col-sm-2 col-xs-4 phone-no">
                                <select class="form-control">
                                    <option>+91</option>
                                    <option>+1</option>
                                    <option>+801</option>

                                </select>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-8  phone-no">
                                <input type="text" class="form-control" id="name" placeholder="Enter number of note pages">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">


                            <p>Upload Profile Picture</p>
                            <input type="file" style="display: none" id="upload-profile-photo">
                            <label for="upload-profile-photo" class="form-control upload-label text-center" style="cursor:pointer; height:93px">
                                <img src="../img/Dashboard/upload-file.png" alt="Upload" />
                                <p>Upload profile photo</p>
                            </label>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="address-details">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="add-sub-heading">Address Details</p>

                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Address Line 1 *</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your address">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Address Line 2 </p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your address">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>City*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your city">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>State*</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your state">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>ZipCode *</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your zipcode">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>Country</p>
                            <select class="form-control">
                                <option>Select your Country</option>
                                <option>India</option>
                                <option>Turkey</option>
                                <option>UAE</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="uni-clg-details">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="add-sub-heading">University and College Information</p>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>University</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your university">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <p>College</p>
                            <input type="text" class="form-control" id="name" placeholder="Enter your college">
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div class="user-profile-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-general btn-work  smooth-scroll" href="#about" title="Sell Book" role="button">SUBMIt</a>
                    </div>

                </div>

            </div>

        </div>
    </form>

</section>



<!--      User Profile Section Ends -->
