
@{
    ViewBag.Title = "addAdmin";

    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<!-- Add Admin section -->


<section class="add-admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Add Administrator</p>

            </div>
            <div class="col-md-6 inside-col">
                <div class="col-md-12">
                    <div class="form-group">
                        <p>First Name*</p>
                        <input type="text" class="form-control" id="name" placeholder="Enter your first name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p>Last Name*</p>
                        <input type="text" class="form-control" id="name" placeholder="Enter your last name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p>Email*</p>
                        <input type="text" class="form-control" id="name" placeholder="Enter your email">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <p>Phone Number</p>
                        <div class="col-md-2 col-sm-2 col-xs-4 phone-no">
                            <select class="form-control">
                                <option>+91</option>
                                <option>+1</option>
                                <option>+801</option>

                            </select>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-8  phone-no">
                            <input type="text" class="form-control" id="name" placeholder="Enter phone Number">
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <a class="btn btn-general btn-work  smooth-scroll" href="#about" title="Sell Book" role="button">SUBMIt</a>
                </div>


            </div>

        </div>

    </div>

</section>
<br />
<br />
<br />
<br />
<br />
<br /><br /><br /><br />
<!-- Add Admin Ends -->
