/* ==================================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        Moon Yellow:         #f4c613
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000
        use-purple:          #6255a5   
===================================================== */


/* =================== =====================
                Html, Body
====================== ===================== */
  html, body {
      height: 100vh; 
      
    }

  .required {
      color:red;
      font-weight :600;
      
  }


body {
     max-width: 100%;
    overflow-x: hidden;
    color: #333333;
    font-size: 16px;
    font-family: 'Open Sans';

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
}

section {
    padding-top: 120px;
    background: #fff;
    overflow: hidden;

}
#user-photo {
    padding: 3px 15px 3px 5px;
}

/* DropDown */
.mynav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
   
}
.mynav-dropdown {
    cursor:pointer;

}

.mynav-dropdown:hover .mynav-dropdown-content{
    display:block;
    min-height:50px;
    margin-top:-15px;


}
    .mynav-dropdown:hover .menu{
        width:230px;
    }
    .mynav-dropdown:hover .note-menu {
        width: 180px;
    }
    .mynav-dropdown:hover .action-menu {
        width: 120px;
    }
   
    
    .nav-dropdown-item {
        width: 100%;
        background-color: #fff;
        border: none;
        padding: 5px 15px;
        
        -webkit-transition: all 500ms linear;
        transition: all 500ms linear;
    }
.nav-dropdown-item:hover{
    background-color:#6255a5;
    color:#fff;
    border:none;

}
.nav-dropdown-item:focus {
    border: none;
    outline: none;
}
    /* =================== =====================
                Preloader
=================== ===================== */
    #preloader {
        background-color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/* =========================================
                Navigation
============================================ */

.navbar {
    padding: 5px 0 0px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;

}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}

ul.navbar-nav>li>a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
    color: #6552a5;
}


/* White Navigation */

.purple-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.purple-nav-top ul.navbar-nav>li>a {
    color: #212226;
}

.purple-nav-top ul.navbar-nav>li>a:hover,
.purple-nav-top ul.navbar-nav>li>a:focus {
    color: #6255a5;
}


/* Scroll spy active state */

.purple-nav-top ul.navbar-nav>li.active>a {
    color: #6255a5;
    font-weight: 500;
}


/* =========================================
        Vertical/Horizontal Headings
============================================ */



/* ================ =======================
        Content Boxes
=================== ======================== */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}

/* ============ ==============
        Button
============ ==============*/
.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 7px 24px 7px 24px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-add-note {
    padding: 3px;
    width: 150px;
    margin-bottom: 60px;
}

.btn-login {
    
   
    margin-top: -6px;

    background-color: #6255a5;
    font-weight: 700; 
    text-transform: uppercase;

    

}
.btn-learn {
    margin: 20px 0;
    color: #fff;
    border: 1px solid #fff;
}
.btn-about {
    margin-top: 35px;
}
.btn-work {
    
    color: #fff;
    background-color: #6255a5;
    font-weight: 600; 
    text-transform: uppercase;
    word-spacing: 3px;
}
.btn-learn:hover {
    color: #f4c613;
}

/* input fields */
.form-group p, input {
    margin: 0;
    font-size: 16px;


}
.form-group textarea {
    height: 153px;
}
#admin-profile{
    height: 153px;
}

.form-group label {
    font-weight: 400;
    margin-right: 20px;

}
#text-area {
    height: 153px;
}
.upload-label {
    
}
.form-group input[type=radio] {

    width: 18px;
    height: 18px;
    border: 1px solid #d1d1d1;
}
.form-group input[type="radio"]:checked + * {
  color: #6255a5;
  font-weight: 500;  
  }
select {
    min-width: 85px;
}

.phone-no {
    
    padding: 0;
    margin-bottom: 15px;
}









.page-heading {
    color: #6255a5;
    font-size: 28px;
    font-weight: 600;
}
.page-sub-heading {
    color: #6255a5;
    font-size: 22px;
    font-weight: 500;    
}

.search-input {
    max-width: 250px;
    margin-top: -4px;
    float: right;
}

.search-div {
    margin-top: 10px;
    margin-bottom: 5px;
}

.inside-col {
    padding: 0;
}
.download-search-div {
    margin-top: 30px;
}



/* Table */ 

.table-responsive {
    margin-top: 20px;
    border:1px solid #d1d1d1;
    padding: 0;
    
    }


tbody>tr:hover {
   -webkit-box-shadow: 0 4px 8px -9px #d1d1d1;
    box-shadow: 0 4px 8px 5px #d1d1d1;
    }
td>a>img {
    height: 15px;
    
}
thead>tr>th{
    text-align:center;
}
td ,th {
    font-size: 12px;
    text-align: center;
}


.tbl-action-btn {
    font-size: 12px;
    width: 80px;
    margin: 3px;
    font-weight: 500;
}


/* pagination */

.pagination>.active>a{
    background-color: #6255a5;
    z-index: 0;

}

.pagination>li>a, .pagination>li>span 
{ 
    font-size: 12px;
    border-radius: 50% !important;
    margin: 0 2px;
   
} 
   
a {
    text-decoration: none;
    color: #333333;
}
a:hover{
    text-decoration: none;
}






/* =================== =====================
                Admin-profile
======================  ===================== */

#admin-profile {
}





/*============== ===============
        member details
================= ==============*/
.member-img {
    max-height: 120px;
    max-width: 130px;
    padding: 0 10px;
}

.ans-p {
    color: #6255a5;
    font-weight: 600;
}
.mem-p p {
    line-height: 12px;
}







/*============== ===============
            Dashboard
================= ==============*/



.earning {
    min-height: 120px;
    max-width: 300px;
    border:2px solid #d1d1d1;
    margin-top: 30px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 30px;

}

.div-content {
    position: absolute;
     top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    

     }
.div-content p{
    padding: 5px;
    line-height: 1px;
     }
.div-content p:first-of-type{
    margin-top: 5px;
    color: #6255a5;
    font-size: 26px;
    font-weight: 600;
    
}





















#dots {
    padding: 5px 5px 5px 20px;
    cursor: pointer;
}

/*============== ============
            login
================ ===========*/








/* =============== =====================
                Footer
================== ======================= */

footer {
    margin-top: 10px;
    background: #fff;
    
    -webkit-box-shadow: 0 4px 8px -9px #d1d1d1;
    box-shadow: 0 4px 8px 5px #d1d1d1;
}
footer>.row {
    margin-bottom: 0px;
}
footer p{
    font-size: 14px;
}
footer>a {
    
}

footer p {
    margin-top: 20px;
    color: #333333;
    line-height: 20px;

}


.ficon{
    background-color:#6255a5;
}
.social li a{
    margin-left: 10px;
    border-radius: 50% !important;
    height: 35px;
    width: 40px;
    background-color: #6255a5;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}




/*         Pop Up          */
.modal-content {
    padding: 20px;
    border: 1px solid #888;
    max-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .popup-heading {
        font-size:24px;
        color: #6255a5;
    }



@media (max-width: 480px) {
    .modal-content {
        max-width: 80%;
    }
}