
@{
    ViewBag.Title = "ForgotPswd";
}
<!-- Forgot Section -->
 
<section id="forgot" class="forgot-overlay">
    <div class="forgot-parent">
        <div class="forgot-child">
            <img class="img-responsive" src="img/home/top-logo.png" alt="">
            <div class="forgot-details">
                <div class="text-center">
                    <p>Forgot Password</p>
                    <p>Enter your email address to reset your password</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group dis">
                                <p>Email*</p>
                                <input type="text" class="form-control" id="email" placeholder="Enter Email">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group dis">

                                <Button class="form-control">
                                    Submit
                                </Button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <p>Done here? <span>@Html.ActionLink("Login", "", "Login")</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>
<!-- forgot section ends -->
