
@{
    ViewBag.Title = "faq";
}



<!-- Book detais in deep-->
<section id="myNav">


</section>
<!-- Book detais in deep end-->
<!-- FAQ Section -->
<section id="faq">
    <div class="faq-heading">
        <p>Frequently Asked Questions</p>
    </div>
    <div class="faq-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="faq-sub-heading">General Question</p>
                </div>
                <div class="col-md-12">
                    <button class="accordion">What is Marketplace Notes?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion">What do the University say?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion">Is this legal?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="faq-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="faq-sub-heading">Uploaders</p>
                </div>
                <div class="col-md-12">
                    <button class="accordion">What can't I sell?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion">What notes can I sell?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="faq-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="faq-sub-heading">Downloaders</p>
                </div>
                <div class="col-md-12">
                    <button class="accordion">How do I buy notes?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="accordion">Can I edit the notes I purchased?</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- FAQ Section Ends -->
