
@{
    ViewBag.Title = "addNoteType";
    
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}




<section class="add-type">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Add Type</p>

            </div>
            <div class="col-md-6 inside-col">
                <div class="col-md-12">
                    <div class="form-group">
                        <p>type Name*</p>
                        <input type="text" class="form-control" id="name" placeholder="Enter  type name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p>Description*</p>
                        <textarea name="" class="form-control" placeholder="Enter your description"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-general btn-work  smooth-scroll" href="#about" title="Sell Book" role="button">SUBMIt</a>
                </div>

            </div>

        </div>

    </div>

</section>
<br /><br /><br /><br /><br /><br /><br /><br /><br />