
@{
    ViewBag.Title = "ManageNoteType";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- manage  type  -->


<section id="manage-type">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading"> Manage type</p>

            </div>
            <div class="col-md-6 col-sm-6">
                <a class="btn btn-general btn-work" href="add-type.html" title="Add Admin" role="button">Add type</a>

            </div>


            <div class="col-md-6 col-sm-6 search-div">
                <div class="col-md-8 col-sm-8 col-xs-8">

                    <input class="form-control search-input" placeholder="Search..." type="text">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                    <a class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                </div>
            </div>
            <div class="col-md-12">
                <div class="all-type-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SR NO.</th>
                                <th scope="col">type</th>
                                <th scope="col">DESCRIPTION</th>
                                <th scope="col">DATE ADDED</th>
                                <th scope="col">ADDED BY</th>
                                <th scope="col">ACTIVE</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>val1</td>
                                <td>lorem sorem porem it.</td>
                                <td>09-09-19, 10:10</td>
                                <td>Khayati Patel</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>2</td>
                                <td>val2</td>
                                <td>lorem sorem porem it.</td>
                                <td>09-09-19, 10:10</td>
                                <td>Rahul Patel</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>3</td>
                                <td>val3</td>
                                <td>lorem sorem porem it.</td>
                                <td>09-09-19, 10:10</td>
                                <td>Suman Trivedi</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>4</td>
                                <td>val4</td>
                                <td>lorem sorem porem it.</td>
                                <td>09-09-19, 10:10</td>
                                <td>Khayati Patel</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>5</td>
                                <td>val5</td>
                                <td>lorem sorem porem it.</td>
                                <td>09-09-19, 10:10</td>
                                <td>Khayati Patel</td>
                                <td>Yes</td>
                                <td class="dropdown">
                                    <a class="link-margin" href="#"><img src="img/dashboard/edit.png"></a>
                                    <div id="dots" class="btn-group">
                                        <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="img/dashboard/delete.png">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class=" text-left dropdown-item action-dropdown-item" type="">Delete Administrator</button>


                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <!-- </thead> -->
                        </tbody>
                    </table>


                </div>
                <div class="text-center" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</section>

<!-- manage type  Ends -->
