
@{
    ViewBag.Title = "AccountVerification";
    Layout = "";
}

<h2>Account Verification</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div>
        <strong>Success!</strong> Your account has been activated successfully. Click here to @Html.ActionLink("Login", "", "Login")
    </div>
}
else
{
    <div>
        <strong>Error!</strong> @ViewBag.Message
    </div>
}